{% extends "layout.html" %}

{% block title %}
    User Dashboard!
{% endblock %}

{% block pagetitle %}
 Quiz for :{{quest.subject}}   
{% endblock %}

{% block questList %}
<B> Your Questions</B><br><br>
{% for q in questList %}
	<a href="{{url_for('showQuest',subject=q.subject,qid=q.qid)}}"><button value={{q.qid}} {{q.status}} id={{q.qid}}  style="margin:2px; width:40px; height:40px;background-color:{{q.bcol}}" >{{loop.index}}</button></a>
{% endfor %}	

<br><br><a href="{{url_for('logout')}}"><button>Display Result</button></a>
{% endblock %}

{% block content %}
<form method="POST" action={{url_for('saveAns')}}>
<div class="question"><h5> <input type="text" name="qid" value={{quest.qid}} style="border-style:none; width:20px"> <input type="text" name="subject" value='{{quest.subject}}' style="border-style:none"> </h5></div>
<div class="qst">{{quest.question}}</div>
	<div class="opt"><input type="radio" name="answer" value="1"> {{quest.option1}}</div>
	<div class="opt"><input type="radio" name="answer" value="2"> {{quest.option2}}</div>
	<div class="opt"><input type="radio" name="answer" value="3"> {{quest.option3}}</div>
	<div class="opt"><input type="radio" name="answer" value="4"> {{quest.option4}}</div>
	<input type="submit" value="Save Answer"style="background-color:green;color: white; border-width:0px"/>
</form>
{% endblock %}

<script>
function colorbtn(bid) {
  document.getElementByid(bid).background-color = "green";
}
</script>